#======== File I/O =====================

BitstreamFile                          : str.bin
ReconFile                              : rec.yuv

#======== Profile ================

Profile                                : auto

#======== Coding Structure =============

IntraPeriod                            : 1           # Period of I-Frame ( -1 = only first)
DecodingRefreshType                    : 1           # Random Accesss 0:none, 1:CRA, 2:IDR, 3:Recovery Point SEI
GOPSize                                : 1           # GOP Size (number of B slice = GOPSize-1)

#        Type POC QPoffset QPOffsetModelOff QPOffsetModelScale CbQPoffset CrQPoffset QPfactor tcOffsetDiv2 betaOffsetDiv2 CbTcOffsetDiv2 CbBetaOffsetDiv2 CrTcOffsetDiv2 CrBetaOffsetDiv2 temporal_id #ref_pics_active_L0 #ref_pics_L0   reference_pictures_L0 #ref_pics_active_L1 #ref_pics_L1   reference_pictures_L1

#=========== Misc. ============

InternalBitDepth                       : 10
InterRPL                               : 0           # Predict reference picture lists in SPS  (0: OFF, 1: ON)
SEIDecodedPictureHash                  : 0
ReWriteParamSets                       : 1
TemporalSubsampleRatio                 : 8

#=========== Motion Search =============

FastSearch                             : 1           # 0:Full search  1:TZ search
SearchRange                            : 64          # (0: Search range is a Full frame)
ASR                                    : 0           # Adaptive motion search range
MinSearchWindow                        : 8           # Minimum motion search window size for the adaptive window ME
BipredSearchRange                      : 4           # Search range for bi-prediction refinement
HadamardME                             : 1           # Use of hadamard measure for fractional ME
FEN                                    : 1           # Fast encoder decision

#======== Quantization =============

QP                                     : 32          # Quantization parameter(0-51)
MaxDeltaQP                             : 0           # CU-based multi-QP optimization
MaxCuDQPSubdiv                         : 0           # Maximum subdiv for CU luma Qp adjustment
DeltaQpRD                              : 0           # Slice-based multi-QP optimization
RDOQ                                   : 1           # RDOQ
RDOQTS                                 : 1           # RDOQ for transform skip
CbQpOffset                             : 0
CrQpOffset                             : 0
SameCQPTablesForAllChroma              : 1
QpInValCb                              : 17 27 31 43
QpOutValCb                             : 17 29 34 41
BIM                                    : 0

#============ Preprocessing ====================

GOPBasedRPR                            : 1
UpscaledOutput                         : 2

TemporalFilter                         : 0
TemporalFilterFutureRefs               : 4
TemporalFilterPastRefs                 : 4

#============ Filter ====================

LMCSEnable                             : 1 #yongkai huo enable
LMCSOffset                             : 2
LMCSSignalType                         : 0
LMCSUpdateCtrl                         : 1

DeblockingFilterDisable                : 0
DeblockingFilterOffsetInPPS            : 1
DeblockingFilterBetaOffset_div2        : -2
DeblockingFilterTcOffset_div2          : -5
DeblockingFilterCbBetaOffset_div2      : -2
DeblockingFilterCbTcOffset_div2        : -5
DeblockingFilterCrBetaOffset_div2      : -2
DeblockingFilterCrTcOffset_div2        : -5
DeblockingFilterMetric                 : 0

CCSAO                                  : 2
SAO                                    : 1
SAOLcuBoundary                         : 0

ALF                                    : 1
ALFAllowPredefinedFilters              : 1
ALFCCCM                                : 1
ALFStrengthTargetChroma                : 1.0
ALFStrengthTargetLuma                  : 1.0
AlfImprovements                        : 1
CCALF                                  : 1
CCALFStrengthTarget                    : 1.0
UseNonLinearAlfChroma                  : 1 #yongkai huo enable
UseNonLinearAlfLuma                    : 1 #yongkai huo enable

#============ Partitioning ====================

CTUSize                                : 128
MaxBTLumaISlice                        : 32
MaxBTChromaISlice                      : 64
MaxBTNonISlice                         : 128
MaxTTLumaISlice                        : 32
MaxTTChromaISlice                      : 32
MaxTTNonISlice                         : 64
MinQTChromaISliceInChromaSamples       : 4
MinQTLumaISlice                        : 8
MinQTNonISlice                         : 8
MaxMTTHierarchyDepth                   : 3
MaxMTTHierarchyDepthISliceC            : 3
MaxMTTHierarchyDepthISliceL            : 3
AMaxBT                                 : 1
ContentBasedFastQtbt                   : 1
CostBasedMTTSkipping                   : 1
LCTUFast                               : 1
DisableFastTTfromBT                    : 0
DualITree                              : 1
ECU                                    : 0
QtbttSpeedUp                           : 1
SplitPredictAdaptMode                  : 0
TemporalPartPred                       : 0

#============ Tools ====================

AdditionalCMVP                         : 1 #yongkai huo enable
Affine                                 : 1
AffineAmvp                             : 1
AffineAmvr                             : 1 #yongkai huo enable
AffineMMVD                             : 1 #yongkai huo enable
AffineParameterRefinement              : 1 #yongkai huo enable
AffineSubBlockMrgExt                   : 1 #yongkai huo enable
AllowDisFracMMVD                       : 1
BCW                                    : 1
BIF                                    : 1
BIO                                    : 1 #yongkai huo enable
BvgCccm                                : 1 #yongkai huo enable
CCCM                                   : 1
CIIP                                   : 1 #yongkai huo enable
CcBoostFilter                          : 1
CcBoostTplRefSel                       : 1 #yongkai huo enable
CcDecDerivedMode                       : 1 #yongkai huo enable
CcMerge                                : 1
CcMergeFusion                          : 1 #yongkai huo enable
ChromaBIF                              : 1
ChromaTS                               : 1
DIMD                                   : 1
DIMDChroma                             : 1
DMVD                                   : 1 #yongkai huo enable
DMVDBIOExt                             : 1 #yongkai huo enable
DepQuant                               : 1
DirectionalPlanar                      : 1 #yongkai huo enable
EIP                                    : 1 #yongkai huo enable
Geo                                    : 29 #yongkai huo enable
IBC                                    : 1
IMV                                    : 1
InterLFNST                             : 1 #yongkai huo enable
InterLFNSTSBT                          : 1 #yongkai huo enable
IntraLFNSTISlice                       : 1
IntraLFNSTPBSlice                      : 1 #yongkai huo enable
JointCbCr                              : 1
LIC                                    : 2 #yongkai huo enable
LMChroma                               : 1
MCBP                                   : 1 #yongkai huo enable
MIP                                    : 1
MMEIP                                  : 1 #yongkai huo enable
MMVD                                   : 1 #yongkai huo enable
MRL                                    : 1
MTS                                    : 3
MaxNumAffineMergeCand                  : 15
MaxNumBMMergeCand                      : 2
MaxNumMergeCand                        : 10
MergeOppositeLic                       : 1
MinAffineBlkSize                       : 16
MmvdDisNum                             : 6
NumSignPred                            : 4
OBIC                                   : 1 #yongkai huo enable
OBMC                                   : 1 #yongkai huo enable
PDP                                    : 1
PROF                                   : 1 #yongkai huo enable
SBT                                    : 1
SGPM                                   : 1
SMVD                                   : 1 #yongkai huo enable
SbTMVP                                 : 1
SignHideFlag                           : 0
TIMD                                   : 1
TIMDSAD                                : 1 #yongkai huo enable
TMBP                                   : 1 #yongkai huo enable
TempCabacInit                          : 1
TransformSkip                          : 1
TransformSkipLog2MaxSize               : 5

#============ Optimizations ====================

AffineAmvrEncOpt                       : 1 #yongkai huo enable
BcwFast                                : 1
EncDbOpt                               : 1
FDM                                    : 1
FastLICmode                            : 1
FastMIP                                : 1
FastMrg                                : 1
FastPicLevelLIC                        : 0
MaxMergeRdCandNumTotal                 : 7
PBIntraFast                            : 1
TransformSkipFast                      : 1

