
#============ Rate Control ======================

RateControl                            : 1
TargetBitrate                          : 1000000
KeepHierarchicalBit                    : 2
LCULevelRateControl                    : 1
RCLCUSeparateModel                     : 1
InitialQP                              : 0
RCForceIntraQP                         : 0

