#======== File I/O =====================

BitstreamFile                          : str.bin
ReconFile                              : rec.yuv

#======== Profile ================

Profile                                : auto

#======== Coding Structure =============

IntraPeriod                            : -1          # Period of I-Frame ( -1 = only first)
DecodingRefreshType                    : 0           # Random Accesss 0:none, 1:CRA, 2:IDR, 3:Recovery Point SEI
GOPSize                                : 8           # GOP Size (number of B slice = GOPSize-1)

IntraQPOffset                          : -1
LambdaFromQpEnable                     : 1           # see JCTVC-X0038 for suitable parameters for IntraQPOffset, QPoffset, QPOffsetModelOff, QPOffsetModelScale when enabled

#        Type POC QPoffset QPOffsetModelOff QPOffsetModelScale CbQPoffset CrQPoffset QPfactor tcOffsetDiv2 betaOffsetDiv2 CbTcOffsetDiv2 CbBetaOffsetDiv2 CrTcOffsetDiv2 CrBetaOffsetDiv2 temporal_id #ref_pics_active_L0 #ref_pics_L0   reference_pictures_L0 #ref_pics_active_L1 #ref_pics_L1   reference_pictures_L1
Frame1:    P   1   5       -6.5                      0.2590         0          0          1.0      0            0               0             0                 0               0               0             4                4         1 9 17 25                      0                   0
Frame2:    P   2   4       -6.5                      0.2590         0          0          1.0      0            0               0             0                 0               0               0             4                4         1 2 10 18                      0                   0
Frame3:    P   3   5       -6.5                      0.2590         0          0          1.0      0            0               0             0                 0               0               0             4                4         1 3 11 19                      0                   0
Frame4:    P   4   4       -6.5                      0.2590         0          0          1.0      0            0               0             0                 0               0               0             4                4         1 4 12 20                      0                   0
Frame5:    P   5   5       -6.5                      0.2590         0          0          1.0      0            0               0             0                 0               0               0             4                4         1 5 13 21                      0                   0
Frame6:    P   6   4       -6.5                      0.2590         0          0          1.0      0            0               0             0                 0               0               0             4                4         1 6 14 22                      0                   0
Frame7:    P   7   5       -6.5                      0.2590         0          0          1.0      0            0               0             0                 0               0               0             4                4         1 7 15 23                      0                   0
Frame8:    P   8   1        0.0                      0.0            0          0          1.0      0            0               0             0                 0               0               0             4                4         1 8 16 24                      0                   0

#=========== Misc. ============

InternalBitDepth                       : 10
InterRPL                               : 1           # Predict reference picture lists in SPS  (0: OFF, 1: ON)
SEIDecodedPictureHash                  : 0
ReWriteParamSets                       : 1

#=========== Motion Search =============

FastSearch                             : 1           # 0:Full search  1:TZ search
SearchRange                            : 64          # (0: Search range is a Full frame)
ASR                                    : 0           # Adaptive motion search range
MinSearchWindow                        : 8           # Minimum motion search window size for the adaptive window ME
BipredSearchRange                      : 4           # Search range for bi-prediction refinement
HadamardME                             : 1           # Use of hadamard measure for fractional ME
FEN                                    : 1           # Fast encoder decision

#======== Quantization =============

QP                                     : 32          # Quantization parameter(0-51)
MaxDeltaQP                             : 0           # CU-based multi-QP optimization
MaxCuDQPSubdiv                         : 0           # Maximum subdiv for CU luma Qp adjustment
DeltaQpRD                              : 0           # Slice-based multi-QP optimization
RDOQ                                   : 1           # RDOQ
RDOQTS                                 : 1           # RDOQ for transform skip
CbQpOffset                             : 0
CrQpOffset                             : 0
SameCQPTablesForAllChroma              : 1
QpInValCb                              : 17 22 33 41
QpOutValCb                             : 17 23 35 39
BIM                                    : 2

#============ Preprocessing ====================

GOPBasedRPR                            : 1
UpscaledOutput                         : 2

TemporalFilter                         : 1
TemporalFilterFutureRefs               : 0
TemporalFilterPastRefs                 : 4
TemporalFilterStrengthFrame8           : 0.2

#============ Filter ====================

LMCSEnable                             : 0
LMCSOffset                             : 1
LMCSSignalType                         : 0
LMCSUpdateCtrl                         : 2

DeblockingFilterDisable                : 0
DeblockingFilterOffsetInPPS            : 1
DeblockingFilterBetaOffset_div2        : -2
DeblockingFilterTcOffset_div2          : 0
DeblockingFilterCbBetaOffset_div2      : -2
DeblockingFilterCbTcOffset_div2        : 0
DeblockingFilterCrBetaOffset_div2      : -2
DeblockingFilterCrTcOffset_div2        : 0
DeblockingFilterMetric                 : 0

CCSAO                                  : 2
SAO                                    : 1
SAOLcuBoundary                         : 0

ALF                                    : 1
ALFAllowPredefinedFilters              : 1
ALFCCCM                                : 1
ALFStrengthTargetChroma                : 1.0
ALFStrengthTargetLuma                  : 1.0
AlfImprovements                        : 1
CCALF                                  : 1
CCALFStrengthTarget                    : 1.0
UseNonLinearAlfChroma                  : 0
UseNonLinearAlfLuma                    : 0

#============ Partitioning ====================

CTUSize                                : 128
MaxBTLumaISlice                        : 32
MaxBTChromaISlice                      : 64
MaxBTNonISlice                         : 128
MaxTTLumaISlice                        : 32
MaxTTChromaISlice                      : 32
MaxTTNonISlice                         : 64
MinQTChromaISliceInChromaSamples       : 4
MinQTLumaISlice                        : 8
MinQTNonISlice                         : 8
MaxMTTHierarchyDepth                   : 2
MaxMTTHierarchyDepthISliceC            : 3
MaxMTTHierarchyDepthISliceL            : 3
AMaxBT                                 : 1
ContentBasedFastQtbt                   : 0
CostBasedMTTSkipping                   : 1
LCTUFast                               : 1
DisableFastTTfromBT                    : 0
DualITree                              : 1
ECU                                    : 0
QtbttSpeedUp                           : 0
SplitPredictAdaptMode                  : 0
TemporalPartPred                       : 1

#============ Tools ====================

AdditionalCMVP                         : 1
Affine                                 : 4
AffineAmvp                             : 1
AffineAmvr                             : 0
AffineMMVD                             : 0
AffineParameterRefinement              : 0
AffineSubBlockMrgExt                   : 0
AllowDisFracMMVD                       : 1
BCW                                    : 1
BIF                                    : 1
BIO                                    : 1
BvgCccm                                : 0
CCCM                                   : 1
CIIP                                   : 1
CcBoostFilter                          : 0
CcBoostTplRefSel                       : 0
CcDecDerivedMode                       : 0
CcMerge                                : 1
CcMergeFusion                          : 0
ChromaBIF                              : 1
ChromaTS                               : 1
DIMD                                   : 1
DIMDChroma                             : 1
DMVD                                   : 1
DMVDBIOExt                             : 1
DepQuant                               : 1
DirectionalPlanar                      : 0
EIP                                    : 0
Geo                                    : 0
IBC                                    : 1
IMV                                    : 1
InterLFNST                             : 1
InterLFNSTSBT                          : 0
IntraLFNSTISlice                       : 1
IntraLFNSTPBSlice                      : 1
JointCbCr                              : 1
LIC                                    : 2
LMChroma                               : 1
MCBP                                   : 0
MIP                                    : 0
MMEIP                                  : 0
MMVD                                   : 1
MRL                                    : 1
MTS                                    : 3
MaxNumAffineMergeCand                  : 15
MaxNumBMMergeCand                      : 2
MaxNumMergeCand                        : 10
MergeOppositeLic                       : 1
MinAffineBlkSize                       : 16
MmvdDisNum                             : 6
NumSignPred                            : 4
OBIC                                   : 0
OBMC                                   : 1
PDP                                    : 1
PROF                                   : 1
SBT                                    : 1
SGPM                                   : 1
SMVD                                   : 0
SbTMVP                                 : 1
SignHideFlag                           : 0
TIMD                                   : 1
TIMDSAD                                : 0
TMBP                                   : 1
TempCabacInit                          : 1
TransformSkip                          : 1
TransformSkipLog2MaxSize               : 5

#============ Optimizations ====================

AffineAmvrEncOpt                       : 0
BcwFast                                : 1
EncDbOpt                               : 1
FDM                                    : 1
FastLICmode                            : 2
FastMIP                                : 0
FastMrg                                : 1
FastPicLevelLIC                        : 1
MaxMergeRdCandNumTotal                 : 7
PBIntraFast                            : 1
TransformSkipFast                      : 1

