CTUSize: 256
MaxMTTHierarchyDepth: 4
MaxMTTHierarchyDepthI: 4
MaxMTTHierarchyDepthISliceL: 4
MaxMTTHierarchyDepthISliceC: 4
MaxBTLumaISlice: 128
MaxBTChromaISlice: 128
MaxBTNonISlice: 128
MaxTTLumaISlice: 128
MaxTTChromaISlice: 128
MaxTTNonISlice: 128
# MaxMTTHierarchyDepthByTid: 333322  # Auto-commented by dbg.py
# MaxMTTHierarchyDepthByTidOverrideByQP: 22 333222  # Auto-commented by dbg.py
QpOutValCb: 17 23 35 40