MaxMTTHierarchyDepth: 3
MaxMTTHierarchyDepthI: 4
MaxMTTHierarchyDepthISliceL: 4
MaxMTTHierarchyDepthISliceC: 4
MaxBTLumaISlice:  64
MaxBTChromaISlice: 64
MaxBTNonISlice: 128
MaxTTLumaISlice: 32
MaxTTChromaISlice: 64
MaxTTNonISlice: 64
# MaxMTTHierarchyDepthByTid: 333333  # Auto-commented by dbg.py
QpOutValCb: 17 23 35 40
