# MaxMTTHierarchyDepthByTidOverrideByQP: 22 322222  # Auto-commented by dbg.py

IBC:                      3
HashME:                   1
BDPCM:                    1
TemporalFilter:           0
PLT:                      1
# RRIBC:                    1  # Auto-commented by dbg.py
IBCFastMethod:            6
IBCMerge:                 1
IBCHashSearch:            1
# IBCCIIP:                  1  # Auto-commented by dbg.py
# IBCGPM:                   1  # Auto-commented by dbg.py
# IntraTMP:                 1  # Auto-commented by dbg.py
# IBCBiPred:                0  # Auto-commented by dbg.py
# BvdPred:                  1  # Auto-commented by dbg.py
